<!DOCTYPE html>
<html>
<head>

<title><%= sitename %></title>

<link rel="stylesheet" href="/style.css">

</head>

<body>

<header>

<h1><%= sitename %></h1>

<p>Welcome <%= user %></p>

<nav>

<a href="/">Home</a>
<a href="/products">Products</a>
<a href="/dashboard">Dashboard</a>

</nav>

<hr>

</header>