<!DOCTYPE html>
<html>

<head>
<title>Product</title>
<link rel="stylesheet" href="/css/style.css">
</head>

<body>

<h1><%= product.title %></h1>

<img src="<%= product.image %>" width="200">

<p><%= product.description %></p>

<h3>$<%= product.price %></h3>

<a href="/">Back</a>

</body>

</html>