<%- include('../partials/header') %>

<h1>Add Home</h1>

<form action="/admin/add-home" method="POST">

<input name="title" placeholder="Title">

<input name="location" placeholder="Location">

<input name="price" placeholder="Price">

<button>Add</button>

</form>

<%- include('../partials/footer') %>