<!DOCTYPE html>
<html>
<head>
<title>Airbnb</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav>

<a href="/">Home</a>
<a href="/admin/add-home">Add Home</a>
<a href="/admin/admin-home-list">Admin Homes</a>

</nav>