<!DOCTYPE html>
<html>
<head>
  <title>ProjectAuth</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav>
  <a href="/">Home</a>
  <a href="/auth/login">Login</a>
  <a href="/auth/signup">Signup</a>
  <a href="/admin">Admin</a>
</nav>
<hr> 